body {
  text-align: center;
}

header,
section,
footer,
aside,
nav,
article,
figure,
figcaption {
  display: block;
}

#reproductor {
  width: 720px;
  margin: 20px auto;
  padding: 5px;
}

#medio {
  position: relative;
  z-index: 99;
}

nav {
  position: relative;
  background: rgb(29, 133, 218);
  padding: 10px;
  margin-left: 4px; 
  width: 692px;
  z-index: 100;
  margin-top: -49px;
  opacity: 0.8;
}

#botones {
  float: left;
  margin: 0px 5px;
}

#reproducir, #mute, #fullScreen {
  background: rgb(2, 55, 85);
  padding: 3px 5px;
  border: 1px solid rgb(2, 55, 85);
  border-radius: 4px;
  color: white;
}

#barra {
  position: relative;
  float: left;
  width: 400px;
  padding: 2px;
  margin-top: 3px;
  background: rgb(2, 55, 85);;
}

#progreso {
  position: absolute;
  width: 0px;
  height: 16px;
  background: rgba(0, 0, 150, .2);
}

#barra1 {
  position: relative;
  float: left;
  width: 70px;
  padding: 2px;
  margin-top: 3px;
  background: rgb(2, 55, 85);;
}

#progreso1 {
  position: absolute;
  width: 0px;
  height: 16px;
  background: rgba(0, 0, 150, .2);
}