#hor-minimalist-b{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 1rem;
    background: #fff;
    margin: auto;
    margin-top : 2em;
    width: 700px;
    border-collapse: collapse;
    text-align: left;
}

#hor-minimalist-b th {
    font-size: 1rem;
    font-weight: normal;
    color: #039;
    padding: 20px 8px;

}

#hor-minimalist-b td{
    color: #669;
    padding: 20px 8px;
    padding-bottom: 20px;
}

#hor-minimalist-b tbody tr:hover td{
    color: #009;
}

tbody tr:nth-child(odd) {
    background: #d7d7f7;
}